.amountBtn{
    border: 1px solid #ccc;
    background-color: var(--btn-clr);
    color: white;
    font-size: 16px;
    border-radius: 10px;
    padding:0 5px;
    margin:0 5px;
    cursor: pointer;
    font-weight: bold;
    transition: all .3s;
}

.amountBtn:hover{
    background-color: var(--footer-clr);
    color: white;
}

.amountBtn:active{
    scale: 0.8;
}
